.container-alldata {
    display: flex;
    flex-direction: column; /* Apila los elementos verticalmente */
    align-items: center; /* Centra horizontalmente */
    text-align: center; /* Centra el texto horizontalmente */
    height: 30vh; /* Opcional: ajusta la altura según tus necesidades */
    justify-content: center; /* Centra verticalmente */
    margin-top: 100px;
  }
